@font-face {
  font-family: winnerSans;
  src: url('./fonts/sportsfonts\ -\ Winner_Sans_Cond_Regular.otf');
}

:root {
  --white: #fff;
  --background-header: #d37710;
  --focus: #f5d104;
  --dark-gray: #6d6e70;
  --text: #666666;
  --text-highlight: #B3B9FF;
  --title: #2E384D;
  --red: #E83F5B;
  --dark-green: rgb(2, 107, 11);
  --dark-green-tow: rgb(0, 139, 69);
  --light-orange: #FDBC23;
  --orange: #d37710;
  --dark-orange: #d37710;
  --blue: #5965E0;
  --blue-dark: #4953B8;
  --blue-twitter: #2AA9E0;
	--navy-blue: #2F3B45;
  --height: 2rem;
}

.detailsContainer {
  display: flex;
  justify-content: space-between;
}

.containerCardOrder {
  display: flex;
  justify-content: space-between;
}
.exibe_menu {
	left: 0!important;
}

@media screen and (max-width: 425px) {
	header h1 {
		font-size: 16px;
	}
}
@media screen and (max-width: 360px) {
	nav.menu {
		width: 100%;
		left: -100%; 
	}
}
